*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px;
    gap: 20px;
    font-size: 26px;

}
.searchbar{
    margin-left: auto;
    /* align-items: end;     */
}
.container-1{
    width: 100%;
    padding: 5px;
    justify-content: space-evenly;
    display: flex;
    background-color: black;
    color: white;

}

.container-2{
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.container-3{
    position: relative;
}
.item{
    position: absolute;
    color: white;
}

.item-11{
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px;
    font-size: 32px;

}
.item-22{
    top: 500px;
    left: 650px;
    font-size: 32px;

}
.item-33{
    top: 860px;
    left: 0;
    font-size: 16px;

}
.item-31{
    top: 540px;
    left: 720px;
    font-size: 16px;

}
